{
  "presets": [
    ["env", { "modules": false }],
    "stage-3"
  ],
  "plugins": [
    [
      "component", {
        "libraryName": "wh-search-group",
        "style": false
      },
      "wh-search-group"
    ]
  ]
}
